<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baomidou.mybatisplus.samples.quickstart.mapper.UserMapper">

<!--    <select id="findOne" resultType="com.baomidou.mybatisplus.samples.quickstart.domain.User" statementType="CALLABLE">-->
<!--    {call findUser(#{id, jdbcType = INTEGER, mode = IN})}-->
<!--    </select>-->
</mapper>